<%- include('./partials/header')%>

  <form class="configuration">
    <!-- <input type="number" id="grid-size" placeholder="Taille de la grille">
    <button type="submit">Valider</button> -->
  </form>
  <div id="invader">
    <!-- <div class="row">
      <div class="pixel"></div>
      <div class="pixel"></div>
    </div>
    <div class="row">
      <div class="pixel"></div>
      <div class="pixel"></div>
    </div> -->
  </div>
  <script src="/js/<%= game.jsFile %>"></script>

</body>

</html>